<div class="d-flex align-items-center justify-content-center w-100">
  <div class="card mb-0">
    <div class="card-body">
      <div class="text-nowrap logo-img text-center d-block py-3 w-100">
        <h2 class="m-0 text-primary mb-4">
          <i class="bi bi-pc-display-horizontal"></i>アカウント設定
        </h2>
        <%= form_with model: @user, url: profile_path, local: true do |f| %>
          <div class="mb-3">
            <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: '名前' %>
          </div>
          <div class="mb-4">
            <%= f.text_field :email, autofocus: true, class: "form-control", placeholder: 'メールアドレス' %>
          </div>
          <%= f.submit '更新', class: "btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
