    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1">TOPページ</h1>
                    <h1 class="mb-4">RubyAru</h1>
                    <p class="mb-4">説明書き〜</p>
                    <%= link_to 'すぐに問題を解く', categories_path, class: 'btn btn-primary rounded-pill py-3 px-5' %>
                </div>
            </div>
        </div>
    </div>
    <%= image_tag 'course-1.jpg', class: 'img-fluid' %>
