<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <%= link_to root_path, class: 'navbar-brand d-flex align-items-center px-4 px-lg-5' do %>
    <h2 class="m-0 text-primary">
      <i class="bi bi-pc-display-horizontal"></i>RubyAru
    </h2>
  <% end %>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">問題一覧</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="team.html" class="dropdown-item">基礎編</a>
                    <a href="testimonial.html" class="dropdown-item">応用編</a>
                    <a href="404.html" class="dropdown-item">実践編</a>
                </div>
            </div>
        </div>
        <%= link_to 'ログイン', login_path, class: 'btn btn-info py-3 px-lg-4 d-none d-lg-block' %>
        <%= link_to '会員登録', new_user_path, class: 'btn btn-primary py-3 px-lg-4 d-none d-lg-block' %>
    </div>
</nav>
<!-- Navbar End -->
