<%# 成功時のToast %>
<% if notice %>
  <div class="toast-container top-0 end-0 p-3">
  <div class="mb-2 toast hide border-primary" data-controller="toast">
    <div class="toast-header text-primary">
      <strong class="me-auto"><%= icon_with_text("check-circle", "成功") %></strong>
      <button class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body text-secondary"><%= notice %></div>
  </div>
  </div>
<% end %>

<%# エラー時のToast %>
<% if alert %>
  <div class="toast-container top-0 end-0 p-3">
  <div class="mb-2 toast hide border-danger" data-controller="toast">
    <div class="toast-header text-danger">
      <strong class="me-auto"><%= icon_with_text("exclamation-circle", "エラー") %></strong>
      <button class="btn-close" data-bs-dismiss="toast">
    </div>
    <div class="toast-body text-secondary"><%= alert %></div>
  </div>
  </div>
<% end %>
