<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 section-padding">
	<div class="container">
		<div class="copyright">
			<div class="row">
				<div class="text-center">
					<div class="text-muted mb-0">&copy; All Right Reserved. RubyAru>
							<%= link_to '利用規約', terms_path %>
							<%= link_to 'プライバシーポリシー', privacy_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer End -->
