<!-- Footer Start -->
<div class="container-fluid navbar bg-dark p-4 site-footer">
		<div class="col-12 text-center">
			<div class="text-muted mb-0">&copy; All Right Reserved. RubyAru
				<%= link_to '利用規約', terms_path %>
				<%= link_to 'プライバシーポリシー', privacy_path %>
				<%= link_to 'お問い合わせ', 'https://twitter.com/T_Naoto_40' %>
		</div>
</div>
<!-- Footer End -->
