  <div id="correctModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4>正解</h4>
        <span class="modalClose">×</span>
      </div>
      <div class="modal-body">
        <p>おめでとうございます!!
           次の問題にも挑戦してみましょう！</p>
        <<%= link_to "別の問題に挑戦する", category_path(@category) %>>
        <%= link_to "https://twitter.com/share?url=https://rubyalgo.com&text=【RubyAlgo】%0a%0a#{lesson.title}を解いた", target: '_blank' do %>
          <i class="fab fa-twitter" style='color: #3399FF;'></i>シェア
        <% end %>
      </div>
    </div>
  </div>

  <div id="incorrectModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4>不正解</h4>
        <span class="modalClose">×</span>
      </div>
      <div class="modal-body">
        ヒントも活用して再チャレンジしてみましょう
      </div>
    </div>
  </div>
